*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Roboto Slab', serif;
  font-size: 110%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Roboto Slab', serif;
  src: url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap);
}

a {
  text-decoration: none;
  color: #a4a4a4;
  cursor: pointer;
}

p {
  color: #a4a4a4;
  text-align: justify;
  line-height: 1.5;
}

li {
  color: #a4a4a4;
  font-size: 1.125rem;
  line-height: 1.5;
  text-align: justify;
}

h1, h2 {
  width: 90%;
  margin: 25px auto 0;
}

h1 {
  font-size: 2.2rem;
  color: #ed682e;
  text-align: left;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
  color: #1a4485;
}

h3 {
  font-size: 1.875rem;
  color: #1a4485;
}

h4 {
  font-size: 1.3rem;
  color: #1a4485;
  font-weight: 400;
  text-align: left;
  margin: 0.4rem 0;
}

img {
  min-width: 9.375rem;
  width: 100%;
  height: auto;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  background-color: white;
}

.navigation .logo {
  max-width: 60%;
  max-height: auto;
}

.navigation button {
  border: 2px solid #ed682e;
  border-radius: 50%;
  padding: 10px;
  background-color: white;
}

.navigation button:active {
  border-color: #a4a4a4;
}

.navigation button .fa-bars {
  color: #ed682e;
  font-size: 1rem;
}

.navigation button .fa-bars:active {
  color: #a4a4a4;
}

.navigation .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  position: absolute;
  top: 3.95rem;
  left: -70rem;
  z-index: 10;
  width: 100%;
  -webkit-transform: translateX(-70rem);
          transform: translateX(-70rem);
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.nav-links.active {
  -webkit-transform: translateX(70rem);
          transform: translateX(70rem);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.nav-links.active li {
  list-style: none;
  margin-top: 1rem;
  border-bottom: 1px solid #ed682e;
  padding: 0;
}

.nav-links.active li a {
  padding-left: 2rem;
}

.o-img-panel {
  display: block;
  min-width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 60%;
     object-position: 0 60%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.o-img-panel .o-img-panel__text-box {
  position: absolute;
  text-align: center;
  z-index: 3;
}

.o-img-panel .o-img-panel__text-box--main, .o-img-panel .o-img-panel__text-box--secondary {
  text-align: center;
  text-transform: uppercase;
}

.o-img-panel .o-img-panel__text-box--main {
  color: #ed682e;
  font-weight: bolder;
}

.o-img-panel .o-img-panel__text-box--secondary {
  font-weight: bold;
  color: white;
  margin-top: 1.5rem;
}

.o-img-panel__img {
  height: auto;
  width: 100%;
}

.service-container {
  max-width: 600px;
  margin: 0 auto;
  width: 95vw;
}

.service-container .service-title {
  text-transform: uppercase;
  font-weight: 400;
  color: #a4a4a4;
  margin: 0 2rem 0 0;
}

.service-container .service {
  background-color: transparent;
  border: 1px solid #F5F6F9;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-top: 0;
}

.service-container .service-text {
  display: none;
  margin: 2rem 0 0;
}

.service-container .service.active .service-text {
  display: block;
  margin: 1rem 0 0;
}

.service-container .service-toggle {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  position: absolute;
  top: 0;
  right: 1rem;
  width: 3rem;
  height: 3rem;
}

.service-container .service-toggle:focus {
  outline: 0;
}

.service-container .service-toggle .fa-times {
  display: none;
}

.service-container .service.active .service-toggle .fa-times {
  display: block;
}

.service-container .service.active .service-toggle .fa-chevron-down {
  display: none;
}

.c-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-card__image {
  border: 1px solid #ed682e;
  padding: 2px;
  border-radius: 5px;
  max-width: 300px;
  max-height: 300px;
}

.c-card__heading {
  text-align: left;
  margin: 5px 0;
  color: #000000;
  font-weight: lighter;
}

.c-card__description {
  text-transform: capitalize;
}

.c-footer {
  background-color: #F5F6F9;
  font-size: 1.1rem;
  font-weight: lighter;
  line-height: 1.5;
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}

.c-img-container {
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;
}

.c-img-container__line {
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: 1px;
  background-color: #a4a4a4;
  opacity: 0.3;
}

.c-img-container a {
  color: #ed682e;
  text-transform: capitalize;
}

.c-img-container a .fa-chevron-right {
  font-size: 0.8rem;
}

.c-appointment-btn {
  background-color: #ed682e;
  color: white;
  padding: 0.8rem 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
}

.c-testimonialContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #555;
  color: white;
  height: auto;
  padding: 0 5%;
}

.c-testimonialContainer h1 {
  display: block;
  top: 0;
  left: auto;
}

.c-testimonialContainer h1, .c-testimonialContainer__testimonial, .c-testimonialContainer__user {
  text-align: center;
  margin-bottom: 2rem;
}

.c-testimonialContainer__testimonial {
  font-style: italic;
}

.c-popup-container {
  display: none;
}

.visible.c-popup-container {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  width: 90%;
  max-width: 60rem;
  max-height: 96%;
  background-color: white;
  -webkit-box-shadow: 0px 0px 50rem 60rem rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 50rem 60rem rgba(0, 0, 0, 0.75);
  overflow-y: scroll;
  border-radius: 1rem;
  padding: 0 5%;
}

.visible.c-popup-container .c-popup-container__header {
  text-align: left;
  line-height: 2;
  border-bottom: 2px solid #F5F6F9;
}

.visible.c-popup-container .c-popup-container__body--blue {
  color: #1a4485;
}

.visible.c-popup-container .c-popup-container__body--blue:last-child {
  text-align: center;
}

.visible.c-popup-container .c-popup-container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #F5F6F9;
}

.visible.c-popup-container .c-popup-container__footer small,
.visible.c-popup-container .c-popup-container__footer button {
  margin: 1rem 0;
}

.visible.c-popup-container .c-popup-container__footer small {
  color: #a4a4a4;
}

.visible.c-popup-container .c-popup-container__footer a {
  text-transform: lowercase;
  color: #ed682e;
}

.visible.c-popup-container .c-popup-container__footer button {
  outline: none;
  border: none;
  font-size: 0.8rem;
}

.c-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100vw;
  border-bottom: 1px solid #ed682e;
}

@media only screen and (min-width: 991px) {
  .c-header {
    border-bottom: none;
    position: static;
  }
}

.u-margin--standart {
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

.home-page {
  margin-top: 5rem;
}

.home-page p {
  padding-left: 5%;
  padding-right: 5%;
}

.home-page .home-page__main-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 2rem;
}

.home-page .home-page__main-article::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #555;
  z-index: 5;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

.home-page .home-page__main-article-image {
  position: relative;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  text-align: center;
}

.home-page .home-page__main-article .c-appointment-btn {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 6;
  width: 15rem;
}

.home-page .home-page__main-article .c-testimonialContainer {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  width: 100%;
  z-index: 6;
  overflow-x: hidden;
}

.home-page .home-page__main-article .c-testimonialContainer h2,
.home-page .home-page__main-article .c-testimonialContainer p {
  color: white;
  text-align: center;
  margin: 1rem 0;
}

.home-page__secondary-article-image {
  margin: 0 auto;
  display: block;
  max-width: 15rem;
  width: 100%;
}

@media only screen and (min-width: 991px) {
  .home-page p {
    padding-left: 10%;
    padding-right: 10%;
  }
  .home-page .home-page__secondary-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about_us-page p, .about_us-page h4, .about_us-page li {
  padding-right: 5%;
  padding-left: 5%;
}

.about_us-page .about_us-page__main-article {
  padding-bottom: 40px;
}

.about_us-page .about_us-page__main-article .about_us-page__secondary-article-grid {
  border-top: 1px solid #a4a4a4;
  padding-top: 40px;
}

.about_us-page .about_us-page__main-article .about_us-page__secondary-article--img-prize {
  display: block;
  min-width: 100px;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  border: 1px solid #ed682e;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
}

.about_us-page .about_us-page__secondary-article .about_us-page__secondary-article--text-over-img {
  position: relative;
}

.about_us-page .about_us-page__secondary-article .about_us-page__secondary-article--text-over-img .text-box {
  position: absolute;
  color: #ed682e;
  text-align: center;
  top: 0;
  z-index: 2;
}

@media only screen and (min-width: 991px) {
  .about_us-page__main-article {
    width: 90%;
    margin: 0 auto;
  }
  .about_us-page__secondary-article-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 1fr;
        grid-template-columns: 300px 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about_us-page__secondary-article--img-prize {
    max-width: 200px;
  }
}

.our_services-page__main-article p {
  padding-left: 5%;
  padding-right: 5%;
}

.our_services-page__main-article p:last-child {
  margin: 1rem 0 2rem 0;
  color: #1a4485;
}

.panel-group {
  margin-bottom: 2rem;
}

.our_services-page__secondary-article--colorful-div {
  background-color: #333333;
  text-align: center;
  padding: 40px 0;
}

.our_services-page__secondary-article--colorful-div h2 {
  color: white;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 991px) {
  .our_services-page__main-article {
    width: 90%;
    margin: 0 auto;
  }
}

.team-page p {
  padding-left: 5%;
  padding-right: 5%;
}

@media only screen and (min-width: 700px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team .c-card {
    max-width: 20rem;
    margin: 1rem;
  }
}

.our-tehnology-page__main-article p {
  padding-right: 5%;
  padding-left: 5%;
}

.o-img-panel::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #555;
  z-index: 2;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

.o-img-panel__text {
  z-index: 5;
}

.contact-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 2rem;
  padding-left: 5%;
  padding-right: 5%;
}

.contact-page .contact-page__map {
  height: 70%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.contact-page .coordinates {
  margin-top: 2rem;
}

.contact-page .coordinates h4 {
  font-size: 1.1rem;
  font-weight: bold;
}

.contact-page .coordinates span {
  font-weight: bolder;
}

.contact-page .coordinates address {
  font-style: normal;
}

.contact-page .appointment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.contact-page .appointment-form label {
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  color: #555;
}

.contact-page .appointment-form input, .contact-page .appointment-form textarea {
  background-color: #F5F6F9;
  border: none;
  border-radius: 2px;
  padding: 0.7rem;
}

.contact-page .appointment-form input:focus {
  outline: none;
}

.contact-page .appointment-form button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem auto;
  padding: 0.7rem 1.2rem;
  color: #F5F6F9;
  background-color: #ed682e;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bolder;
}
/*# sourceMappingURL=style.css.map */