*,
*::before,
*::after
{
box-sizing: inherit;


}

body
 {
  font-family: 'Roboto Slab', serif;
  font-size: 110%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  

}
