*,
*::before,
*::after{
box-sizing: inherit;
}

body
 {
  font-family: 'Roboto Slab', serif;
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-align: center;
  margin: 0;
  padding: 0;
}
