.our_services-page__main-article {

  p {
    padding-left: 5%;
    padding-right: 5%;
  }

  p:last-child {
    margin: 1rem 0 2rem 0;
    color: $color-blue;
  }
}


.panel-group {
  margin: 5px;
}


.our_services-page__tertiary-article--colorful-div {
  background-color: #333333;
  text-align: center;
  padding: 40px 0;

  h2 {
    color: white;
    margin-bottom: 2rem;
  }

}

@media only screen and (min-width: 991px) {

  .our_services-page__secondary-article{

margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}