
.team-page{
    p{
        padding-left: 5%;
        padding-right: 5%;
    }
}


@media only screen and (min-width: 768px) {

    .team{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

@media only screen and (min-width: 991px) {

    .team{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
}