.service-container {

    max-width: 600px;
    margin: 0 auto;
    width: 95vw;


    .service-title {
        text-transform: uppercase;
        font-weight: 400;
        color: $color-grey;
        margin: 0 2rem 0 0;
    }

    .service {
        background-color: transparent;
        border: 1px solid $color-light-grey;
        padding: 1rem;
        position: relative;
        overflow: hidden;
        transition: 0.3s ease;
       margin-top: 0;
    }



    .service-text {
        display: none;
        margin: 2rem 0 0;
    }

    .service.active .service-text {
        display: block;
        margin: 1rem 0 0;
    }

    .service-toggle {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        position: absolute;
        top: 0;
        right: 1rem;
        width: 3rem;
        height: 3rem;
    }

    .service-toggle:focus {
        outline: 0;
    }

    .service-toggle .fa-times {
        display: none;
    }

    .service.active .service-toggle .fa-times {
        display: block;
    }

    .service.active .service-toggle .fa-chevron-down {
        display: none;
    }

}