.c-appointment-btn{
    background-color: $color-orange;
    color: $color-white;
    padding: 0.8rem 1rem ;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold ;
    border-radius: 5px;
  }