.c-header{
position: fixed;
top: 0;
left: 0;
z-index: 15;
width: 100vw;
border-bottom: 1px solid $color-orange;
}

@media only screen and (min-width: 991px) {

    .c-header{
    border-bottom: none;
    position: static;

    }
}